
<div class="modal fade" id="addTaskForwardModal" tabindex="-1" aria-labelledby="addTaskForwardModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskForwardModalLabel">Task Forward : ( )</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="companyId" />
                <input type="hidden" id="multipleId" />
                <input type="hidden" id="taskId" />
                <input type="hidden" id="serviceType" />
                <div class="row mb-3 d-flex justify-content-center align-items-center">
                    <div class="col-md-6">
                        <div class="form-group text-center">
                            <label for="taskForward_cmb_jobOrder" class="form-label">Job Order <span class="text-danger">*</span></label>
                            <select id="taskForward_cmb_jobOrder" style="width: 100%;"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnTaskForwardSave" onclick="saveTaskForward()">Save</button>
            </div>
        </div>
    </div>
</div>

<script>

    function openTaskForwardModal(serviceType, taskId, customerId, multipleId ) {
        debugger;
        $('#multipleId').val(multipleId);
        $('#taskId').val(taskId);
        $('#serviceType').val(serviceType);
        const $modal = $('#addTaskForwardModal');
        const parsedCustomerId = parseInt(customerId, 10);
        let parsedcompanyId = $('#companyId').val();

        if (isValidId(parsedCustomerId)) {

            $modal.find('.modal-content').append('<div class="modal-overlay"><div class="spinner"></div></div>');

            const uomUrl = `@Url.Action("GetCustomerJobOrderLookup", "Lookup", new { area = "" })?companyId=${companyId}&customerId=${parsedcompanyId}`;
            bindComboBox(uomUrl, "portExpense_cmb_uom", "uomName", "uomId");

            $('#addTaskForwardModal').modal('show');
        }
    }

    function SelectedDropdown(DrpdwnName) {
    }

    function OnSelectDropdown(dataItem, DrpdwnName) {
    }

    function saveTaskForward() {
        debugger;

        let inJobOrderId = parseInt($('#taskForward_cmb_jobOrder').data('kendoComboBox').value()) || 0;
        let inMultipleId = $('#multipleId').val();
        let inTaskId = $('#taskId').val();

        console.log("TaskForwardData Data : " + taskForwardData);

        $.ajax({
            url: '@Url.Action("SaveTaskForward", "Job", new { area = "Project" })',
            type: "POST",
            data: {
                jobOrderId: inJobOrderId, taskId: inTaskId, multipleId: inMultipleId, companyId: companyId
            },
            contentType: "application/json",
            success: function (response) {
                if (response.success) {
                    debugger;
                    const serviceType = $('#serviceType').val();
                    const functionName = `initialize${serviceType}Grid`;
                    if (typeof window[functionName] === 'function') {
                        window[functionName]();
                    } else {
                        console.error(`Function ${functionName} does not exist.`);
                    }

                    $('#addPortExpenseModal').modal('hide');
                } else {
                    alert(response.message || "Failed to save port expense.");
                }
            },
            error: function (xhr) {
                alert("Error: " + (xhr.responseJSON?.message || "An unexpected error occurred"));
            }
        });
    }
</script>