  <!-- ThirdPartySupply Modal -->
<div class="modal fade" id="addThirdPartySupplyModal" tabindex="-1" aria-labelledby="addThirdPartySupplyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addThirdPartySupplyModalLabel">Third-Party Supply</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="thirdPartySupplyForm">
                    <input type="hidden" id="thirdPartySupply_jobOrderId" />
                    <input type="hidden" id="thirdPartySupplyId" />
                    <!-- Audit Fields -->
                    <div class="accordion mt-3" id="auditAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#auditCollapse">
                                    Audit Details
                                </button>
                            </h2>
                            <div id="auditCollapse" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="form-label">Created By</label>
                                            <p id="createBy" class="form-control-plaintext"></p>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Created Date</label>
                                            <p id="createDate" class="form-control-plaintext"></p>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Modified By</label>
                                            <p id="editBy" class="form-control-plaintext"></p>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Modified Date</label>
                                            <p id="editDate" class="form-control-plaintext"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnBankThirdPartySupplyClose" onclick="clearBankThirdPartySupplyForm()">Close</button>
                <button type="button" class="btn btn-primary" id="btnBankThirdPartySupplyEdit">Edit</button>
                <button type="button" class="btn btn-secondary" id="btnBankThirdPartySupplyClear" onclick="clearBankThirdPartySupplyForm()">Clear</button>
                <button type="button" class="btn btn-primary" id="btnBankThirdPartySupplySave" onclick="saveBankThirdPartySupply()">Save</button>
            </div>
        </div>
    </div>
</div>