<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCustomerModalLabel">Customer Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearCustomerForm();"></button>
            </div>
            <div class="modal-body p-4">
                <form id="customerForm">
                    <!-- Customer Details -->
                    <input type="hidden" id="customerId" />

                    <!-- Basic Information -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="mb-2">
                                <label class="form-label">Customer Code <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="customerCode" required>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="mb-2">
                                <label class="form-label">Customer Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="customerName" required>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="mb-2">
                                <label class="form-label">Short Name</label>
                                <input type="text" class="form-control" id="customerShortName">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="mb-2">
                                <label class="form-label">Other Name</label>
                                <input type="text" class="form-control" id="customerOtherName">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="mb-2">
                                <label class="form-label">Registration No.</label>
                                <input type="text" class="form-control" id="customerRegNo">
                            </div>
                        </div>
                    </div>

                    <!-- Financial Details -->
                    <div class="row">
                        <h5>Financial Details</h5>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="mb-2">
                                <label for="cmd_currency" class="form-label">Currency <span class="text-danger">*</span></label>
                                <select id="cmd_currency" style="width: 100%"></select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="mb-2">
                                <label for="cmd_creditTerm" class="form-label">Credit Term <span class="text-danger">*</span></label>
                                <select id="cmd_creditTerm" style="width: 100%"></select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="mb-2">
                                <label for="cmd_accSetup" class="form-label">Account Setup <span class="text-danger">*</span></label>
                                <select id="cmd_accSetup" style="width: 100%"></select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="mb-2">
                                <label for="cmd_bank" class="form-label">Bank <span class="text-danger">*</span></label>
                                <select id="cmd_bank" style="width: 100%"></select>
                            </div>
                        </div>
                    </div>

                    <!-- Status Flags -->
                    <div class="row ">
                        <h5>Status Flags</h5>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isCustomer">
                                <label class="form-check-label">Is Customer</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isVendor">
                                <label class="form-check-label">Is Vendor</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isTrader">
                                <label class="form-check-label">Is Trader</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isSupplier">
                                <label class="form-check-label">Is Supplier</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isActive">
                                <label class="form-check-label">Is Active</label>
                            </div>
                        </div>
                    </div>

                    <!-- Remarks -->
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <label class="form-label">Remarks</label>
                            <textarea class="form-control" id="remarks" rows="2"></textarea>
                        </div>
                    </div>

                    <!-- Address & Contact Tabs -->
                    <ul class="nav nav-pills mt-4" id="customerTabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="pill" href="#addresses">Addresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#contacts">Contacts</a>
                        </li>
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- Addresses Tab -->
                        <div class="tab-pane fade show active" id="addresses">
                            <div class="d-flex justify-content-end mb-3">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressModal">
                                    <i class="mdi mdi-plus"></i> Add Address
                                </button>
                            </div>
                            <div id="gridaddress"></div>
                        </div>

                        <!-- Contacts Tab -->
                        <div class="tab-pane fade" id="contacts">
                            <div class="d-flex justify-content-end mb-3">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">
                                    <i class="mdi mdi-plus"></i> Add Contact
                                </button>
                            </div>
                            <div id="gridcontact"></div>
                        </div>
                    </div>

                    <!-- Audit Fields -->
                    <div class="accordion mt-3" id="auditAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#auditCollapse">
                                    Audit Details
                                </button>
                            </h2>
                            <div id="auditCollapse" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="form-label">Created By</label>
                                            <p id="createBy" class="form-control-plaintext"></p>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Created Date</label>
                                            <p id="createDate" class="form-control-plaintext"></p>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Modified By</label>
                                            <p id="editBy" class="form-control-plaintext"></p>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Modified Date</label>
                                            <p id="editDate" class="form-control-plaintext"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCustomerClose" onclick="clearCustomerForm()">Close</button>
                <button type="button" class="btn btn-primary" id="btnCustomerEdit">Edit</button>
                <button type="button" class="btn btn-secondary" id="btnCustomerClear" onclick="clearCustomerForm()">Clear</button>
                <button type="button" class="btn btn-primary" id="btnCustomerSave" onclick="saveCustomer()">Save</button>
            </div>
        </div>
    </div>
</div>

<script>

    function initializeCustomerForm() {
        clearCustomerForm();
        $('#isActive').prop('checked', true);
    }

    function clearCustomerForm() {
        $('#customerId').val('');
        $('#customerCode').val('');
        $('#customerName').val('');
        $('#customerOtherName').val('');
        $('#customerShortName').val('');
        $('#customerRegNo').val('');
        $('#cmd_currency').data("kendoComboBox").value('');
        $('#cmd_creditTerm').data("kendoComboBox").value('');
        $('#cmd_accSetup').data("kendoComboBox").value('');
        $('#cmd_bank').data("kendoComboBox").value('');
        $('#remarks').val('');
        $('#isCustomer').prop('checked', false);
        $('#isVendor').prop('checked', false);
        $('#isTrader').prop('checked', false);
        $('#isSupplier').prop('checked', false);
        $('#isActive').prop('checked', false);
        $('#createBy').text('');
        $('#createDate').text('');
        $('#editBy').text('');
        $('#editDate').text('');
        // Clear grids
        $("#gridaddress").data("kendoGrid").dataSource.data([]);
        $("#gridcontact").data("kendoGrid").dataSource.data([]);
    }

    function loadCustomerGrid() {
        let searchString = $('#txtsearch').val();
        let url = '@Url.Action("List", "Customer", new { area = "Master" })';
        let columns = [
            {
                title: "Actions",
                width: "150px",
                template: function (dataItem) {
                    let buttons = `<button class="ps-0 border-0 bg-transparent" onclick="openCustomerModal('${dataItem.customerId}', 'view')">
                    <i class="material-symbols-outlined text-primary">visibility</i></button>`;

                    if (permissions.canEdit) {
                        buttons += `<button class="ps-0 border-0 bg-transparent" onclick="openCustomerModal('${dataItem.customerId}', 'edit')">
                    <i class="material-symbols-outlined text-warning">edit</i></button>`;
                    }

                    if (permissions.canDelete) {
                        buttons += `<button class="ps-0 border-0 bg-transparent" onclick="deleteCustomer('${dataItem.customerId}')">
                    <i class="material-symbols-outlined text-danger">delete</i></button>`;
                    }
                    return buttons;
                }
            },
            { field: "customerCode", title: "Code" },
            { field: "customerName", title: "Name" },
            { field: "creditTermCode", title: "Credit Term" },
            { field: "currencyName", title: "Currency Name" },
            { field: "remarks", title: "Remarks" },
            { field: "isActive", title: "Active", template: '<input type="checkbox" #= isActive ? "checked" : "" # disabled />' }
        ];

        initializeKendoGrid("gridcustomer", url, { searchString, companyId }, columns);
    }

    function openCustomerModal(id, mode) {
        $.get('@Url.Action("GetById", "Customer", new { area = "Master" })', { customerId: id, companyId })
            .done(function (response) {
                if (response.success) {
                    populateCustomerFields(response.data);
                    setCustomerMode(mode);
                    $('#addCustomerModal').modal('show');
                }
            });
    }

    function populateCustomerFields(data) {
        $('#customerId').val(data.customerId);
        $('#customerCode').val(data.customerCode);
        $('#customerName').val(data.customerName);
        $('#customerOtherName').val(data.customerOtherName);
        $('#customerShortName').val(data.customerShortName);
        $('#customerRegNo').val(data.customerRegNo);
        $('#cmd_currency').data("kendoComboBox").value(data.currencyId > 0 ? data.currencyId : '');
        $('#cmd_creditTerm').data("kendoComboBox").value(data.creditTermId > 0 ? data.creditTermId : '');
        $('#cmd_accSetup').data("kendoComboBox").value(data.accSetupId > 0 ? data.accSetupId : '');
        $('#cmd_bank').data("kendoComboBox").value(data.bankId > 0 ? data.bankId : '');
        $('#remarks').val(data.remarks);
        $('#isCustomer').prop('checked', data.isCustomer);
        $('#isVendor').prop('checked', data.isVendor);
        $('#isTrader').prop('checked', data.isTrader);
        $('#isSupplier').prop('checked', data.isSupplier);
        $('#isActive').prop('checked', data.isActive);

        $('#createBy').text(data.createBy || "N/A");
        $('#createDate').text(data.createDate ? new Date(data.createDate).toLocaleString() : "N/A");
        $('#editBy').text(data.editBy || "N/A");
        $('#editDate').text(data.editDate ? new Date(data.editDate).toLocaleString() : "N/A");

        // Destroy existing grids if they exist
        if ($("#gridaddress").data("kendoGrid")) {
            $("#gridaddress").data("kendoGrid").destroy();
            $("#gridaddress").empty();
        }
        if ($("#gridcontact").data("kendoGrid")) {
            $("#gridcontact").data("kendoGrid").destroy();
            $("#gridcontact").empty();
        }

        // Reinitialize grids with new customerId
        loadcustomerAddressGrid(data.customerId);
        loadcustomerContactGrid(data.customerId);
       // checkMandatoryFields();
    }

    function setCustomerMode(mode) {
        const isView = mode === 'view';
        const canEdit = permissions.canEdit && !isView;

        $('#customerCode, #customerName, #remarks').prop('readonly', !canEdit);
        $('#isActive').prop('disabled', !canEdit);
        $('#btnSave').toggle(canEdit);
        $('#btnEdit').toggle(isView && permissions.canEdit);
        $('#btnClose').show();
        $('#btnClear').hide();
    }

    function deleteCustomer(id) {
        if (!permissions.canDelete) {
            alert('You do not have permission to delete records.');
            return;
        }

        $('#confirmationModal').modal('show');
        $('#confirmDelete').off('click').click(function () {
            $.ajax({
                url: `/Master/Customer/Delete?customerId=${id}&companyId=${companyId}`,
                type: "DELETE",
                success: function (response) {
                    if (response.success) {
                        loadCustomerGrid();
                        $('#confirmationModal').modal('hide');
                    }
                }
            });
        });
    }

    function saveCustomer() {
        const customerData = {
            CustomerId: $('#customerId').val() || 0,
            CustomerCode: $('#customerCode').val().trim(),
            CustomerName: $('#customerName').val().trim(),
            // Add other fields
        };
        $.ajax({
            url: '@Url.Action("Save", "Customer", new { area = "Master" })',
            type: "POST",
            data: JSON.stringify({ customer: customerData, companyId }),
            contentType: "application/json",
            success: function (response) {
                if (response.success) {
                    $('#addCustomerModal').modal('hide');
                    loadCustomerGrid();
                    clearForm();
                }
            }
        });
    }
</script>