<!-- Index.cshtml -->
@{
    ViewData["Title"] = "GST Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Nav Pills -->
<ul class="nav nav-pills mb-3" id="gstTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="gstcategory-tab" data-bs-toggle="pill"
                data-bs-target="#gstcategory" type="button" role="tab" aria-controls="gstcategory" aria-selected="true">
            <i class="mdi mdi-shape-outline me-1"></i> GST Category
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="gst-tab" data-bs-toggle="pill"
                data-bs-target="#gst" type="button" role="tab" aria-controls="gst" aria-selected="false">
            <i class="mdi mdi-percent me-1"></i> GST
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="gstdt-tab" data-bs-toggle="pill"
                data-bs-target="#gstdt" type="button" role="tab" aria-controls="gstdt" aria-selected="false">
            <i class="mdi mdi-table-large me-1"></i> GST Details
        </button>
    </li>
</ul>

<!-- Tab Content -->
<div class="tab-content" id="gstTabsContent">
    <div class="tab-pane fade show active" id="gstcategory" role="tabpanel" aria-labelledby="gstcategory-tab">
        @await Html.PartialAsync("_GstCategory")
    </div>
    <div class="tab-pane fade" id="gst" role="tabpanel" aria-labelledby="gst-tab">
        @await Html.PartialAsync("_Gst")
    </div>
    <div class="tab-pane fade" id="gstdt" role="tabpanel" aria-labelledby="gstdt-tab">
        @await Html.PartialAsync("_GstDt")
    </div>
</div>

@section Scripts {
    <script src="~/js/gst.js"></script>
    <script src="~/js/gstdt.js"></script>
    <script src="~/js/gstcategory.js"></script>
}