@{
    ViewData["Title"] = $"Currency ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Nav Pills -->
<ul class="nav nav-pills mb-3" id="currencyTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="currency-tab" data-bs-toggle="pill"
                data-bs-target="#currency" type="button" role="tab" aria-controls="currency" aria-selected="true">
            <i class="mdi mdi-currency-usd me-1"></i> Currencies
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="currencydt-tab" data-bs-toggle="pill"
                data-bs-target="#currencydt" type="button" role="tab" aria-controls="currencydt" aria-selected="false">
            <i class="mdi mdi-table-large me-1"></i> Exchange Rates
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="currencylocaldt-tab" data-bs-toggle="pill"
                data-bs-target="#currencylocaldt" type="button" role="tab" aria-controls="currencylocaldt" aria-selected="false">
            <i class="mdi mdi-earth me-1"></i> Local Rates
        </button>
    </li>
</ul>

<!-- Tab Content -->
<div class="tab-content" id="currencyTabsContent">
    <div class="tab-pane fade show active" id="currency" role="tabpanel" aria-labelledby="currency-tab">
        @Html.Partial("_Currency")
    </div>
    <div class="tab-pane fade" id="currencydt" role="tabpanel" aria-labelledby="currencydt-tab">
        @Html.Partial("_CurrencyDt")
    </div>
    <div class="tab-pane fade" id="currencylocaldt" role="tabpanel" aria-labelledby="currencylocaldt-tab">
        @Html.Partial("_CurrencyLocalDt")
    </div>
</div>

@section Scripts {
    <script src="~/js/currency.js"></script>
    <script src="~/js/currencydt.js"></script>
    <script src="~/js/currencylocaldt.js"></script>
}