@{
    ViewData["Title"] = $"Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    bool canCreate = ViewBag.IsCreate ?? false;
    bool canEdit = ViewBag.IsEdit ?? false;
    bool canDelete = ViewBag.IsDelete ?? false;
    bool canRead = ViewBag.IsRead ?? false;
    int companyId = ViewBag.CompanyId;
}

<!-- Nav Pills -->
<ul class="nav nav-pills mb-3" id="categoryTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="ordertype-tab" data-bs-toggle="pill"
                data-bs-target="#ordertype" type="button" role="tab" aria-controls="ordertype" aria-selected="true">
            <i class="mdi mdi-view-list me-1"></i> Category
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="ordertypecategory-tab" data-bs-toggle="pill"
                data-bs-target="#ordertypecategory" type="button" role="tab" aria-controls="ordertypecategory" aria-selected="false">
            <i class="mdi mdi-shape-outline me-1"></i> Sub-Category
        </button>
    </li>
</ul>

<!-- Tab Content -->
<div class="tab-content" id="categoryTabsContent">
    <div class="tab-pane fade show active" id="ordertype" role="tabpanel" aria-labelledby="ordertype-tab">
        @await Html.PartialAsync("_Category")
    </div>
    <div class="tab-pane fade" id="ordertypecategory" role="tabpanel" aria-labelledby="ordertypecategory-tab">
        @await Html.PartialAsync("_SubCategory")
    </div>
</div>

@section Scripts {
    <script>
        let companyId = 0;
        let permissions = {};;
        $(document).ready(function () {
            companyId = getUrlParameter('companyId') || 0;

            permissions = {
                canCreate: @Json.Serialize(canCreate),
                canEdit: @Json.Serialize(canEdit),
                canDelete: @Json.Serialize(canDelete),
                canRead: @Json.Serialize(canRead),
            };

            $('#subCategoryCode, #subCategoryName').on('input', checkSubCategoryMandatoryFields);

            loadCategoryGrid();
            initializeCategoryForm();
            clearCategoryForm();
            $('#btnCategoryEdit').on('click', function () { setCategoryMode("edit"); });
            $('#btnCategoryClose').on('click', function () { $('#addCategoryModal').modal('hide'); });
            $('#addCategoryrecord').on('click', function () {
                initializeCategoryForm();
                $('#addCategoryModal').modal('show');
            });

            loadSubCategoryGrid();
            initializeSubCategoryForm();
            clearSubCategoryForm();
            $('#btnSubCategoryEdit').on('click', function () { setSubCategoryMode("edit"); });
            $('#btnSubCategoryClose').on('click', function () { $('#addSubCategoryModal').modal('hide'); });
            $('#addSubCategoryrecord').on('click', function () {
                initializeSubCategoryForm();
                $('#addSubCategoryModal').modal('show');
            });

            $('#categoryCode, #categoryName').on('input', checkCategoryMandatoryFields);
        });
    </script>
}