<div class="flex-grow-1"></div>

<footer class="footer-area bg-white text-center rounded-top-7">
    <p class="fs-14">
        © <span class="text-primary-div">AMES</span> is Proudly
        Owned by
        <a href="https://ames.com/" target="_blank" class="text-decoration-none text-primary">AEMS</a>
    </p>
</footer>