<!-- UOM Management -->
<!-- Uom/Index.cshtml -->
@{
    ViewData["Title"] = "UOM Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Nav Pills -->
<ul class="nav nav-pills mb-3" id="uomTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="uom-tab" data-bs-toggle="pill"
                data-bs-target="#uom" type="button" role="tab" aria-controls="uom" aria-selected="true">
            <i class="mdi mdi-ruler me-1"></i> UOM
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="uomdt-tab" data-bs-toggle="pill"
                data-bs-target="#uomdt" type="button" role="tab" aria-controls="uomdt" aria-selected="false">
            <i class="mdi mdi-table-large me-1"></i> UOM Conversions
        </button>
    </li>
</ul>

<!-- Tab Content -->
<div class="tab-content" id="uomTabsContent">
    <div class="tab-pane fade show active" id="uom" role="tabpanel" aria-labelledby="uom-tab">
        @Html.Partial("_Uom")
    </div>
    <div class="tab-pane fade" id="uomdt" role="tabpanel" aria-labelledby="uomdt-tab">
        @Html.Partial("_UomDt")
    </div>
</div>

@section Scripts {
    <script src="~/js/uom.js"></script>
    <script src="~/js/uomdt.js"></script>
}