<!-- Other Tab -->
<div class="tab-pane fade" id="other" role="tabpanel">
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <div class="row gx-4 gy-3">
                <!-- Billing Information (Left Column) -->
                <div class="col-md-6">
                    <h6 class="border-bottom pb-2 mb-3">Billing Details</h6>
                    <!-- Existing Fields -->
                    <div class="mb-3">
                        <label for="invoice_cmb_customeraddress" class="form-label">Address </label>
                        <select id="invoice_cmb_customeraddress" style="width: 100%"></select>
                    </div>
                    <div class="mb-3">
                        <label for="billingName" class="form-label">Billing Name</label>
                        <input type="text" class="form-control" id="billingName" placeholder="Enter name">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="addressLine1" class="form-label">Address Line 1</label>
                            <textarea class="form-control" id="addressLine1" rows="2" placeholder="Street address"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="addressLine2" class="form-label">Address Line 2</label>
                            <textarea class="form-control" id="addressLine2" rows="2" placeholder="Apartment/Suite"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="addressLine3" class="form-label">Address Line 3</label>
                            <textarea class="form-control" id="addressLine3" rows="2" placeholder="Additional address"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="addressLine4" class="form-label">Address Line 4</label>
                            <textarea class="form-control" id="addressLine4" rows="2" placeholder="Additional address"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="pinCode" class="form-label">Pin Code</label>
                            <input type="text" class="form-control" id="pinCode" placeholder="e.g. 123456">
                        </div>
                        <div class="col-md-6">
                            <label for="invoice_cmb_country" class="form-label">Country </label>
                            <select id="invoice_cmb_country" style="width: 100%"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="phoneNo" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="phoneNo" placeholder="e.g. +971 123 4567">
                        </div>
                        <div class="col-md-6">
                            <label for="faxNo" class="form-label">Fax Number</label>
                            <input type="text" class="form-control" id="faxNo" placeholder="Optional">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="emailAdd" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="emailAdd" placeholder="e.g. example@example.com">
                        </div>
                        <div class="col-md-6">
                            <label for="webUrl" class="form-label">Website URL</label>
                            <input type="url" class="form-control" id="webUrl" placeholder="e.g. www.example.com">
                        </div>
                    </div>
                </div>

                <!-- Contact Information (Right Column) -->
                <div class="col-md-6">
                    <h6 class="border-bottom pb-2 mb-3">Contact Details</h6>

                    <div class="mb-3">
                        <label for="invoice_cmb_customercontact" class="form-label">Contact </label>
                        <select id="invoice_cmb_customercontact" style="width: 100%"></select>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="contactName" class="form-label">Contact Name</label>
                            <input type="text" class="form-control" id="contactName" placeholder="Enter contact name">
                        </div>

                        <div class="col-md-6">
                            <label for="otherName" class="form-label">Other Name</label>
                            <input type="text" class="form-control" id="otherName" placeholder="Enter other name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="emailAdd" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="emailAdd" placeholder="name@example.com">
                        </div>

                        <div class="col-md-6">
                            <label for="mobileNo" class="form-label">Mobile Number</label>
                            <input type="tel" class="form-control" id="mobileNo" placeholder="+65 1234 5678">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="offNo" class="form-label">Office Number</label>
                            <input type="tel" class="form-control" id="offNo" placeholder="+65 1234 5678">
                        </div>

                        <div class="col-md-6">
                            <label for="faxNo" class="form-label">Fax Number</label>
                            <input type="text" class="form-control" id="faxNo" placeholder="+65 1234 5678">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="messId" class="form-label">Message ID</label>
                            <input type="text" class="form-control" id="messId" placeholder="Enter message ID">
                        </div>

                        <div class="col-md-6">
                            <label for="contactMessType" class="form-label">Contact Message Type</label>
                            <input type="text" class="form-control" id="contactMessType" placeholder="Enter message type">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>