<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Field Name</th>
                <th>Mandatory</th>
                <th>Default Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Customer</td>
                <td><input type="checkbox" checked></td>
                <td>-</td>
            </tr>
            <tr>
                <td>Due Date</td>
                <td><input type="checkbox"></td>
                <td><input type="date" class="form-control"></td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        (function () {
            // Tab-specific JavaScript
            const form = document.getElementById('decimalForm');
            // Validation logic
        })();
    </script>
}